@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 100px auto auto auto;
}

header {
    display: flex;
}


h4 {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

}

.custom_case {
    padding-left: 2em;
    padding-top: 2em;
}

body .border {
    border: 5px solid #dee2e6!important ;
}

body .border-primary {
    border: 5px solid #0084BD !important;
}

body .border-dark {
    border: 5px solid #343a40 !important;
}

body .border-success {
    border: 5px solid #00A483 !important;
}

body .border-grey {
    border: 5px solid #A1A1A1 !important;
}

body .text_success { 
    color: #00A483 !important; 
}

body .text_primary {
    color:  #0084BD;
}

body .text_grey {
    color:  #A1A1A1;
}

.title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    transform: rotate(180deg);
    width: 55px;
    height: 206px;
    padding: 24px, 12px, 24px, 12px;
    border-radius: 20px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.divider {
    height: 4px;
    width: 319px;
    background-color: black;
}

/* Case universelle */

.custom_case {
    width: 446px;
    height: 227px;
    border-radius: 20px;
    border: 4px;
}

.custom_case_container {
    flex-wrap: nowrap;
}

/* Case 1 & 2 années */

.custom_case_bachelor {
    width: 304px;
    height: 227px;
    padding: 36px;
    border-radius: 20px;
    border: 4px;
}

/* Case année 3 */

.custom_case_3_years {
    width: 418.5px;
    height: 164px;
    padding: 36px;
    border-radius: 20px;
    border: 4px;

}

/* Case 4 & 5 années */

.custom_case_green {
    width: 300px;
    height: 509px;
    padding: 36px;
    border-radius: 20px;
    border: 4px;

}

/* Case de la carte flip */

.custom_case_flip {
    height: 300px;
    width: 450px;
    padding-left: 36px;
    padding-top: 36px;
    border-radius: 20px;
    border: 4px;
}

/* FLIP CARD */
.card-flip>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}


@media (max-width:500px) {
    .title {
        border-radius: 20px;
        padding: 24px 12px;
    }

    .container, .group {
        margin: 0 !important; 
    }

    .container .space-case {
        padding: 1.5em !important;
        align-items: flex-start !important;
        margin-bottom: 1em !important;

    }

    .title-rncp {
        position: relative;
        left: 8.1em;
        transform: rotate(-90deg);
    }

    .dates3, .dates45 {
        padding: 1em 0;
    }
    

    .box-master {
        margin-top: 1em;
    }

    .container .mb-3 {
        margin: 0rem !important;
    }
    
    .content-block {
        padding: 0 !important;
    }

    body .content-block-master .d-flex {  /* Change la disposition des blocks */
        display: inline-block !important; } 

    .container .m-5 {
        margin: 0rem !important;
    }

    .dates {
        width: 215%;
    }

    .container .mt-5, .container .my-5 {
        margin: 0 !important
    }

    .custom_case_bachelor {
        padding: 0;
    }
    
    .title-first-section.mb-3.col-2 {
        margin-left: auto !important;
        margin-right: auto !important;
        transform: rotate(90deg);
    }

        /* Case universelle */
    .custom_case,
    .custom_case_bachelor,
    .custom_case_3_years,
    .custom_case_green,
    .custom_case_flip {
        display: flex;
        width: 100%;
        /* height: auto; */
        flex-direction: column;
        align-items: center;
    } 


}